/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 400px;
  background: url('/content/images/assistant.jpg') no-repeat center top;
  background-size: contain;
}

.pad {
  display: flex;
  align-items: center;
  flex-direction: column;
}
